@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Poppins", sans-serif;

  min-height: 100vh;

  flex-direction: column;
}
.hidden {
  visibility: hidden;
  display: none;
}
button {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
}
#popup-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  padding: 1rem;
  position: relative;
  width: 500px;
}

.popup button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: white;
  color: rebeccapurple;
  font-size: 1.5rem;
  cursor: pointer;
}
