body {
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

.wrapper {
  width: 60vw;
  min-width: 295px;
  border: 2px solid lightslategrey;
  padding: 5px;
}
/* form styles */
.inpBox {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 2px;
  align-items: center;
}
label {
  flex: 0.6;
}
select {
  width: 20%;
  min-width: 100px;
  padding: 5px;
  font-size: 18px;
}
.textBox {
  flex: 0.4;
  padding: 5px;
  font-size: 18px;
}

/* list styles */
#submit {
  width: 100%;
  padding: 5px;
  font-size: large;
  background-color: #19e6b3;
}
li {
  width: 100%;
  /* margin-top: 2px; */
  margin-bottom: 10px;
}
button {
  float: right;
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
